.chat_arrow_right::after {
  position: absolute;
  content: "";
  border-bottom: 20px solid var(--color-primary);
  border-right: 15px solid transparent;
  border-left: none;
  right: -14px;
  bottom: 10px;
}

.chat_arrow_left::before {
  position: absolute;
  content: "";
  border-bottom: 20px solid var(--color-primary);
  border-left: 15px solid transparent;
  border-right: none;
  left: -14px;
  bottom: 10px;
}

.scroll-design{
    
}